<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ubyg.ot@tznvy.pbz</string>
	<key>contactName</key>
	<string>Brandon Holt</string>
	<key>description</key>
	<string>Textmate Bundle for adding smart, parser-based syntax highlighting to Textmate.

Similar to Vim's Easytags or similar CTags-based syntax highlighers, this highlights user-defined types and functions based on language-specific parsers.</string>
	<key>name</key>
	<string>Linguist</string>
	<key>uuid</key>
	<string>DAB2DCB7-2ABA-4934-8B47-2EE30C13AD3D</string>
</dict>
</plist>
